[submodule "externals/nutsnbolts"]
	path = externals/nutsnbolts
	url = https://github.com/JohK/nutsnbolts
[submodule "externals/alpha"]
	path = externals/alpha
	url = https://github.com/thestumbler/alpha
